@font-face {
  font-family: 'Mynerve';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Mynerve-Regular.woff2) format('woff2');
}

html,
body,
#blormfission, #blormfission-popup {
  display: flex;
  margin: 0;
  padding: 0;
  width: 202vmin;
  max-width: 100%;
  overflow: hidden;
  aspect-ratio: 500 / 247;
}

#blormfission,  #blormfission-popup {
  left: 0;
  top: 0;
  position: absolute;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  image-rendering: pixelated;
}

#blormfission-calc {
  /* width: calc((332 / 500) * 100%); */
  height: calc((193 / 247) * 100%);
  aspect-ratio: 332 / 193;
  position: relative;
  image-rendering: pixelated;
  background-image: url("ui/Background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#blormfission-text {
  width: calc((183 / 332) * 100%);
  height: calc((44 / 193) * 100%);
  position: absolute;
  left: calc((10 / 332) * 100%);
  top: calc((22 / 193) * 100%);
  z-index: 0;
}

.blormfission-number {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-family: 'Mynerve', 'Comic Sans', sans-serif;
  font-weight: bolder;
  font-size: calc(min(5vw, 10vh));
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent;
  background-repeat: no-repeat;
}

#blormfission-x-bg {
  width: calc((102 / 332) * 100%);
  height: calc((41 / 193) * 100%);
  position: absolute;
  left: calc((17 / 332) * 100%);
  top: calc((78 / 193) * 100%);
  z-index: 0;
}

#blormfission-x {
  width: calc((93 / 332) * 100%);
  height: calc((32 / 193) * 100%);
  position: absolute;
  left: calc((18 / 332) * 100%);
  top: calc((81 / 193) * 100%);
}

#blormfission-y-bg {
  width: calc((117 / 332) * 100%);
  height: calc((40 / 193) * 100%);
  position: absolute;
  left: calc((172 / 332) * 100%);
  top: calc((77 / 193) * 100%);
  z-index: 0;
}

#blormfission-y {
  width: calc((110 / 332) * 100%);
  height: calc((32 / 193) * 100%);
  position: absolute;
  left: calc((173 / 332) * 100%);
  top: calc((80 / 193) * 100%);
  rotate: 1.25deg;
  z-index: 1;
}

#blormfission-r-bg {
  width: calc((114 / 332) * 100%);
  height: calc((43 / 193) * 100%);
  position: absolute;
  left: calc((92 / 332) * 100%);
  top: calc((130 / 193) * 100%);
  z-index: 0;
}

#blormfission-r {
  width: calc((105 / 332) * 100%);
  height: calc((32 / 193) * 100%);
  position: absolute;
  left: calc((97 / 332) * 100%);
  top: calc((135 / 193) * 100%);
  rotate: -1deg;
  z-index: 1;
}

#blormfission-popup-button {
  width: calc((78 / 332) * 100%);
  height: calc((69 / 193) * 100%);
  position: absolute;
  left: calc((252 / 332) * 100%);
  top: calc((0 / 193) * 100%);
  z-index: 1;
}

#blormfission-outline {
  width: calc((332 / 332) * 100%);
  height: calc((193 / 193) * 100%);
  position: absolute;
  left: 0%;
  top: 0%;
  pointer-events: none;
  z-index: 2;
}

#blormfission-popup-text {
  /* width: calc((390 / 500) * 100%); */
  height: calc(100% - (70 / 247) * 100%);
  aspect-ratio: 390 / 177;
  position: absolute;
  left: calc((110 / 500) * 100%);
  top: calc((70 / 247) * 100%);
  z-index: 3;
}